/* ===== common css style start ===== */
* {
    font-family: "Doppio One", sans-serif;
}

/* ===== common css style end ===== */

/* ===== navbar css style start ===== */
#navbar {
    background-color: rgb(233, 230, 227);
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.navbar-nav {
    gap: 50px;
}

.navbar-nav .nav-item .nav-link {
    color: #000;
    opacity: 0.7;
    position: relative;
    transition: .5s;
}

.navbar-nav .nav-item .nav-link::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    opacity: 0;
    background-color: #000;
    transition: .5s;
}

.navbar-nav .nav-item .nav-link::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    top: -5px;
    left: 0;
    opacity: 0;
    background-color: #000;
    transition: .5s;
}

.navbar-nav .nav-item .nav-link:hover {
    opacity: 1;
}

.navbar-nav .nav-item .nav-link:hover::after {
    opacity: 1;
    bottom: 5px;
}

.navbar-nav .nav-item .nav-link:hover::before {
    opacity: 1;
    top: 6px;
}


.btn {
    border: 2px solid transparent;
    border-radius: 10px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, red, blue) border-box;
    color: #000;
    transition: all linear 0.6s;
    font-weight: 700;
}

.btn:hover {
    border: 2px solid transparent;
    background: linear-gradient(to right, red, blue);
    background:
        linear-gradient(to right, red, blue) padding-box,
        linear-gradient(to right, red, blue) border-box;

}

/* ===== navbar css style end ===== */

/* ===== banner css style start ===== */
.carousel-item img {
    height: 100vh;
}

/* ===== banner css style end ===== */

/* ===== price css style start ===== */
#price {
    padding: 80px 0 70px;
    background-color: rgb(233, 230, 227);
}
.priceHeading h2{
    font-size: 42px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 15px;
}
.priceHeading p{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    opacity: 0.6;
    text-align: center;
    margin-bottom: 30px;
}
.card {
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 14px 35px 0 rgba(0, 0, 0, 0.20);
}

.card-title {
    font-weight: 700;
}

.card-title span {
    font-size: 30px;
    color: gold;
}

.cardIcon {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.cardIcon i {
    color: gold;
}

.card-text {
    font-size: 15px;
    opacity: 0.8;
}

/* ===== price css style end ===== */

/* ===== customer css style start ===== */
#customer {
    padding: 60px 0;
    background-color: rgb(9, 9, 64);
}

.customerImg {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.customerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customerText {
    text-align: center;
}

.customerText h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.customerText h5 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}

.customerText p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 40px;
    max-width: 400px;
    display: inline-block;
}

.customerBtn a {
  text-decoration: none;
  padding: 15px 25px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  transition: 0.5s;

}
.customerBtn a:hover {
   border: 2px solid transparent;
   color: #000;
   background-color: #fff;

}

/* ===== customer css style end ===== */

/* ===== footer css style start ===== */
#footer{
    padding: 60px 0 10px;
    background-color: #151414;
    
}
.footerLogo{
    width: 100%;
    height: 100%;
}
.LogoImg img{
    width: 30px;
    height: 30px;
}
.footerLogo h5{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 20px 0 15px;
}
.footerLogo p{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: 0.6;
    margin-bottom: 20px;
}
.footerLogo h6{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.footerIconWrap{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
.footerIcon{
    width: 35px;
    height: 35px;
    background-color: aliceblue;
    border-radius: 50%;
    position: relative;
}
.footerIcon i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #000;
}

.footerList h5{
    font-size: 18px;
    font-weight: 700;
    color: #F7F6F6;
    padding-bottom: 15px;

}
.footerList menu{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footerList menu li{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.80);
}

.footerContact h5{
    font-size: 18px;
    font-weight: 700;
    color: #F7F6F6;
    padding-bottom: 8px;
}
.footerContact p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.80);
    padding-bottom: 8px;
}
.footerForm{
    display: flex;
    gap: 8px;
}
.footerForm input{
    width: 320px;
    height: 50px;
    padding: 9px 0 9px 7px;
}
.footerForm input::placeholder{
    color: rgba(0, 14, 81, 0.60);
    font-size: 16px;
    font-weight: 400;  
}
.footerForm input:focus{
    border: none;
    outline: none;
}
.footerForm button{
    font-size: 16px;
    font-weight: 600;
    font-family: "Albert Sans", sans-serif;
    padding: 10.5px 19px;
    border: 2px solid transparent;
    background-color: #2460FD;
    color: #fff;
    transition: 0.5s;
}

.footerForm button:hover{
    background-color: transparent;
    border: 2px solid #fff;
    
}
.ContactBox{
    display: flex;
    gap: 70px;
    margin-top: 28px;
}
.address h6 , .emailBox h6 , .phoneBox h6{
    font-size: 18px;
    font-weight: 700;
    color: #F7F6F6;
    padding-bottom: 8px;
}
.address p{
    font-size: 14px;
    font-weight: 400;
    width: 128px;
    color: rgba(255, 255, 255, 0.80);
}
.footerLine{
    width: 100%;
    height: 2px;
    background-color: rgb(244, 237, 227);
    margin: 20px 0 25px;
}
.footerLastLine{
    text-align: center;
}
.footerLastLine p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(241, 234, 234, 0.8);
}
/* ===== footer css style end ===== */